<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.springcloudeurekaapiinfo.mapper.StudentMapper">


    <insert id="insertStudent" parameterType="Student">
       insert into user(userName,password,realName) values(#{userName},#{password},#{realName})
    </insert>

    <select id="getAllStudents" resultType="Student">
        select userName 'userName' ,
               password 'password',
               realName 'realName' from user
    </select>

    <select id="getUserInfoByUserName" parameterType="java.lang.String" resultType="Student">
        select userName 'userName' ,
               password 'password',
               realName 'realName' from user
               where userName = #{userName}
    </select>


</mapper>